{% extends "pages/base.html" %}
{% block title %}
Data_Analysis
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <center>
                <h1>DATA ANALYSIS</h1>
                <br>
                <hr>
                <div style="text-align: left;">
                   <h2>-Dữ liệu thu đã được thu thập thể hiện dưới dạng biểu đồ<h2>
                </div>
                <br>
                <br>
                <h2>Biểu đồ thể hiện tần số</h2>
                <div class="container">
                <div class="row">
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125216471_460144231616775_7340714812583905078_n.png?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_ohc=eeDiZzCrN34AX8hgkQM&_nc_ht=scontent.fhan3-2.fna&oh=e3042854ea82daeaddbe18d87f668779&oe=5FD61EA6" >
                   <h4>Năm 1980</h4>
                </div>
                <div class="col-sm-6">
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/125433467_992004081208722_4120002380893409702_n.png?_nc_cat=102&cb=846ca55b-311e05c7&ccb=2&_nc_sid=ae9488&_nc_ohc=M8guJ9zrNREAX9upDq5&_nc_ht=scontent.fvca1-1.fna&oh=f07a46d67c7a096bc2504a513a1cf323&oe=5FD3F9AD" >
                   <h4>Năm 1990</h4>
                </div>
                </div>
                </div>
                <hr>
                <div class="container">
                <div class="row">
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125140361_2778921145768406_2649619467925841418_n.png?_nc_cat=109&ccb=2&_nc_sid=ae9488&_nc_ohc=Xbu8hrJQrdgAX9LVNI-&_nc_ht=scontent.fhan3-2.fna&oh=a88c4e539ec18180b4f12ef5a20a7911&oe=5FD37947" >
                   <h4>Năm 2000</h4>
                </div>
                <div class="col-sm-6">
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/125431090_354748262492092_3932913441639282848_n.png?_nc_cat=105&ccb=2&_nc_sid=ae9488&_nc_ohc=-0D2xne5ytgAX-yX3Tt&_nc_ht=scontent.fvca1-1.fna&oh=7e11046bc47ad5df6c05e1603241801f&oe=5FD61F00" >
                   <h4>Năm 2010</h4>
                </div>
                </div>
                </div>
                <hr>
                <br><br><br>
                <h2>Biểu đồ thể hiện tần suất</h2>
                <br><br><br>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/124854174_379790686704333_2278998499362585844_n.png?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=HUqhyLlSeWMAX_OnHGU&_nc_ht=scontent.fhan3-2.fna&oh=0d00a58e67b25cfa851ea50c3a02f1f5&oe=5FD359B6" >
                   <h4>Năm 1980</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.15752-9/125433462_366779684608997_9171313881371521705_n.png?_nc_cat=104&ccb=2&_nc_sid=ae9488&_nc_ohc=sttDH1WnfIEAX_p2bTE&_nc_ht=scontent.fhan3-1.fna&oh=82b3a82c2dd298abb38eef0cef6fbf60&oe=5FD59158" >
                   <h4>Năm 1990</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/124774874_2804141749688963_4458344707891503564_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=ImVOWGFQBy4AX_oakBV&_nc_ht=scontent.fvca1-1.fna&oh=3eab58507c869c4d99e50aa58ebf1eec&oe=5FD3F5A2" >
                   <h4>Năm 2000</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125314784_481945646117470_2595234311600292382_n.png?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=VIDW5E0GJLkAX-kWOMw&_nc_ht=scontent.fhan3-2.fna&oh=8da177386ff262bbf6ce9ab5294259dc&oe=5FD42550" >
                   <h4>Năm 2010</h4>
                </div>
                <hr>
                <br><br><br>
                <h2>Biểu đồ thể hiện tần suất tích lũy</h2>
                <br><br><br>
                <div class="container">
                <div class="row">
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125230189_3430158600397860_7574508826154890132_n.png?_nc_cat=109&ccb=2&_nc_sid=ae9488&_nc_ohc=x0X7EZJFhhUAX8jH3Hr&_nc_ht=scontent.fhan3-2.fna&oh=982507944fc2da61ad6c868a57930b22&oe=5FD511B3" >
                   <h4>Năm 1980</h4>
                </div>
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125362323_399758027725211_242741556115705148_n.png?_nc_cat=111&ccb=2&_nc_sid=ae9488&_nc_ohc=1zMrMUuPzyoAX_ryBhS&_nc_oc=AQm8pTi6beaIGAU1-nwg6WDwgw3gjBuTtVjwE_P9posHUAukV8sKaPth-sFOFaHXqcI&_nc_ht=scontent.fhan3-2.fna&oh=890d2eeef9b05a787361f0d76b06418b&oe=5FD3F1CB" >
                   <h4>Năm 1990</h4>
                </div>
                </div>
                </div>
                <hr>
                <div class="container">
                <div class="row">
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/124837215_726317291572831_6952227384783990025_n.png?_nc_cat=110&ccb=2&_nc_sid=ae9488&_nc_ohc=uk30d16JzD4AX_5olAX&_nc_ht=scontent.fhan3-2.fna&oh=b40607ba076415f8cc6051a9b52f6a1f&oe=5FD36969" >
                   <h4>Năm 2000</h4>
                </div>
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/124861007_867120187372724_237501698342379671_n.png?_nc_cat=111&ccb=2&_nc_sid=ae9488&_nc_ohc=pYg2K3SZHCwAX8QzikQ&_nc_ht=scontent.fhan3-2.fna&oh=558f5bfeccae2d998386b4afa8ff1402&oe=5FD3A57E" >
                   <h4>Năm 2010</h4>
                </div>
                </div>
                </div>
                <hr>
                <br><br><br>
                <h2>Biểu đồ thể hiện độ tập trung</h2>
                <br><br><br>
                <div>
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/124795647_1053238551790845_3512874594565124175_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=ZkWq7MPL9_EAX8sgPZG&_nc_ht=scontent.fvca1-1.fna&oh=367515074858aec3083bb40d41e2c5c8&oe=5FD4672B" >
                   <h4>Năm 1980</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.15752-9/124594200_822974021832238_7547244858348851792_n.png?_nc_cat=100&ccb=2&_nc_sid=ae9488&_nc_ohc=JpWz0_3aRE4AX-gAat7&_nc_ht=scontent.fvca1-2.fna&oh=6f73992e4774d9886aaf549da6b8f3b7&oe=5FD4A0F7" >
                   <h4>Năm 1990</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125243353_3196014673854524_3808713529851969146_n.png?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=Am2bexfA4_cAX_B4UZd&_nc_ht=scontent.fhan3-2.fna&oh=98524463e1dfcdfc04974de0b579b4e7&oe=5FD525E9" >
                   <h4>Năm 2000</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125270484_456563741981011_3169371772573366297_n.png?_nc_cat=109&ccb=2&_nc_sid=ae9488&_nc_ohc=UWRX4cFTybkAX9GlbK3&_nc_ht=scontent.fhan3-2.fna&oh=866f9934431b60e216de86216bdf1732&oe=5FD63448" >
                   <h4>Năm 2010</h4>
                </div>
                <hr>
                <br><br><br>
                <h2>Biểu đồ Histogram</h2>
                <br><br><br>
                <div>
                   <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.15752-9/125205363_417855002554406_542877894117911163_n.png?_nc_cat=104&ccb=2&_nc_sid=ae9488&_nc_ohc=QtuuqHa1FdQAX-Z6aK1&_nc_ht=scontent.fhan3-1.fna&oh=e27557926200558b9ce43a2a93c9c9df&oe=5FD6EAC6" >
                   <h4>Năm 1980</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/125182545_3599343623444613_1436569343134816359_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=ssyzF0ONGDwAX8vbTHp&_nc_ht=scontent.fvca1-1.fna&oh=efd2a1811bc3735b78d239188cac19d0&oe=5FD3CBD3" >
                   <h4>Năm 1990</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125185611_1805154422967126_7268761513026303_n.png?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_ohc=Nl2-FzpBe2QAX_I_u0R&_nc_ht=scontent.fhan3-2.fna&oh=892154211da3523913843039a10a73b1&oe=5FD6C75D" >
                   <h4>Năm 2000</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.15752-9/125220405_702148157346454_3546625907694788007_n.png?_nc_cat=100&ccb=2&_nc_sid=ae9488&_nc_ohc=DMCCfR5bgBEAX9YaX2Q&_nc_ht=scontent.fvca1-2.fna&oh=e3c9df4db69e8f07dbbd1005e9bb72e7&oe=5FD43F22" >
                   <h4>Năm 2010</h4>
                </div>
                <hr>
                <br><br><br>
                <h2>Biểu đồ Kurtosis</h2>
                <br><br><br>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/123926061_283567942980644_5170579274696926204_n.png?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=zgDCemGkpX0AX_3XYn8&_nc_ht=scontent.fhan3-2.fna&oh=cc7137622310045f74cfca7300f83ad3&oe=5FD6CE23" >
                   <h4>Năm 1980</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/125094389_1457786057748628_5885816210874579156_n.png?_nc_cat=108&ccb=2&_nc_sid=ae9488&_nc_ohc=udFUCVbWRFUAX_zP8AD&_nc_ht=scontent.fhan3-2.fna&oh=724c363543f6cbb2fee678e7352ac90e&oe=5FD4A9AB" >
                   <h4>Năm 1990</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/124947139_649689135723841_680300248760428052_n.png?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=0B5VsBkvBHkAX93VtTq&_nc_ht=scontent.fhan3-2.fna&oh=f2922110e38d23e775e975b875e9de75&oe=5FD6A2AF" >
                   <h4>Năm 2000</h4>
                </div>
                <hr>
                <div>
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/124454719_2498641780440747_2650216941646357053_n.png?_nc_cat=105&ccb=2&_nc_sid=ae9488&_nc_ohc=T3W8bLeigqMAX9QSCb6&_nc_ht=scontent.fvca1-1.fna&oh=549d4d3235367b6a4d6c4ef13b45d919&oe=5FD30DC7" >
                   <h4>Năm 2010</h4>
                </div>
                <hr>
                <br><br><br>
                <h2>Biểu đồ QQ</h2>
                <br><br><br>
                <div class="container">
                <div class="row">
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.15752-9/124426720_408986493473728_2502649134349751194_n.png?_nc_cat=104&ccb=2&_nc_sid=ae9488&_nc_ohc=z79KX7hDTIgAX8Q8hvP&_nc_ht=scontent.fhan3-1.fna&oh=d7fcdab124e6e4981fd6a27cf2b8c6b8&oe=5FD5F35B" >
                   <h4>Năm 1980</h4>
                </div>
                <div class="col-sm-6">
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/125054513_1033759197036694_3406961976541960564_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=tzFt65GsmPcAX-aGxTM&_nc_ht=scontent.fvca1-1.fna&oh=fa6cc09e561278d4239a888eb4af487f&oe=5FD424DB" >
                   <h4>Năm 1990</h4>
                </div>
                </div>
                </div>
                <hr>
                <div class="container">
                <div class="row">
                <div class="col-sm-6">
                   <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.15752-9/124836227_381761939936302_7626282559476526623_n.png?_nc_cat=105&ccb=2&_nc_sid=ae9488&_nc_ohc=TRSv2VzsSy8AX-7yfCr&_nc_ht=scontent.fvca1-1.fna&oh=f8d873b88e1af9b93c678d6b65c13f4c&oe=5FD4C60F" >
                   <h4>Năm 2000</h4>
                </div>
                <div class="col-sm-6">
                   <img src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/124985561_1188792241577919_5246298424836861058_n.png?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=Y4cEWdXEX5IAX9oAK4x&_nc_ht=scontent.fhan3-2.fna&oh=64862b0517ebf477c12e62d7ec09d851&oe=5FD4BBD8" >
                   <h4>Năm 2010</h4>
                </div>
                </div>
                </div>
                <hr>
                <br>
                <br>
                <div style="text-align: left;">
                  <h2>-Các biến số<h2>
                   <div style="text-align: left; margin-left: 40px;">
                        <p>+ Năm</p>
                        <p>+ Số dân</p>
                        <p>+ Nước</p>
                   </div>
                </div>
                <br>
                <br>
            </center>
        </div>
    </div>
</div>
{% endblock %}