{% extends "pages/base.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    ul{
      list-style-type: none;  
    }
    li{
        display: block;
    }
</style>
 <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="text-align: center;">
            <h1>
                Introduction to project: Dân số các châu lục qua mỗi giai đoạn
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" style="text-align: center;">
            <h2>
                Team Information:
            </h2>
                <ul style="text-align: left;margin-left: 220px;">  
                    <li>
                        <h4>Đỗ Đạt Đức :18040671</h4>
                    </li>
                   <li>
                    <h4>Lê Võ Hửu Thái:18045551</h4>
                   </li>
                   <li>
                    <h4>Trần Ngọc Hiển:18049511</h4>
                   </li>
                   <li>
                    <h4>Hồ Dương Vũ:   18050901</h4>
                   </li>
                   <li>
                       <h4>Lê Nguyễn Thành Vinh :18053681</h4>
                   </li>
                   <li >
                       <h4>Trần Hữu Thọ :18038171</h4>
                   </li>
                </ul>
        </div>
        <div class="col-sm-6" style="text-align: center;">
                <h2>Thông tin dự án</h2>
                <p>Nguồn dữ liệu :<a href="https://data.world/doe/population-bycountry-1980-2010">Population byCountry 1980-2010</a></p>
                <h2>Trực quan hóa dữ liệu</h2>
                <ul style="text-align: left; margin-left: 200px;">
                    <li>-Barchart</li>
                    <li>-Linechart </li>
                    <li>-Scatterchart </li>
                    <li>-Piechart</li>
                </ul>
                </p>
        </div>
    </div>    
</div>
{% endblock %}