{% extends "pages/base.html" %}
{% load static %}
{% block title %}
Simple Chart
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2" >
            <ul style="list-style-type: none;">
                <li>
                    <h3><a href="/bar_chart">Bar</a></h3>
                </li>
                <li>
                  <h3><a href="/scatter_chart">Scatter</a></h3>
                </li>
                <li>
                  <h3><a href="/line_chart">Line</a></h3>
                </li>
                <li><h3><a href="/pie_chart">Pie</a></h3></li>
                <li>
                  <h3><a href="/gant_chart">Gantt</a></h3>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            
        </div>
    </div>
</div>

{% endblock %}